div{
    display: block;
    width: 800px;
    height: 500px;
}
#left{
    float:left;
    width: 600px;
    height: 500px;
    background-color:yellow;
}
#right{
    float: right;
    width: 200px;
    height: 500px;
    background-color: rgba(122, 37, 37, 0.671);
}